/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {   
    
    /* div construite par Livewire */
    #bulletin>div{
        height: 100%; 
    }

    #nomClub{
        font-size: 25px!important; 
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    

    #bulletinClub{
        position: relative;
        padding-top: 40px;
        height: 100%;
    }

    #chant{
        position:absolute;
        width: 80%;
        text-align: center;
        left: 10%;
        bottom: 15%;
        background-color: green;

    }
    .match {
        width: 100%;
    }
    .titreMatch {
        display: flex;
    }
    .ligneMatch {
        display: flex;
        height: 100%;
        
    }
    .titreMatch span:nth-child(1), .titreMatch span:nth-child(3){
        width: 48%; 
    }
    .titreMatch span:nth-child(1){
        text-align: end;
    }
    .titreMatch span:nth-child(2){
        text-align: center;
    }
    .titreMatch span:nth-child(3){
        text-align: start;
    }
    .titreMatch span:nth-child(2){
        width: 4%;
    }
    .match .date{
        text-align: center;
    }

    
    .ligneMatch>span:nth-child(1), .ligneMatch>span:nth-child(5){
        width: 38%;
    }
    /* .ligneMatch>span:nth-child(2){
        width: 18%;
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid rgb(190, 175, 175, 0.6);
        border-radius: 15px;
    } */
    .ligneMatch [class^="score"] {
        font-size: 16px;
        font-weight: 600!important;
        
    } 
    .ligneMatch .scoreTrait{
        width: 4%;
        text-align: center;
    }
    .ligneMatch [class^="scoreGoal"]{
        width: 10%;

    } 
    .ligneMatch [class^="scoreGoal"] span{
        
        line-height: 1;
        

    } 
    .ligneMatch .scoreGoalHome{
        text-align: end;
    }
    .ligneMatch .scoreGoalAway{
        text-align: start;
        
    } 
    
    .ligneMatch span:nth-child(1){
        text-align: end;
        padding-right: 5px;
    }
    .ligneMatch span:nth-child(5){
        text-align: start;
        padding-left: 5px;
    }

}