
/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {
    #commentaireclub{
        position: relative;     
    }
    #selectEmoji {        
        position:absolute;
        z-index: 10;
        left: 25%;
    }
    .sectionGif{
        position:fixed;
        top:0;
        left:0;
        z-index: 1000;
        width:100vw;
        height: 100vh;
        background-color:rgba(0, 0, 0, 0.4);
        padding-top: 15vh;
        padding-left: 15vw;
        padding-right: 15vw;
        text-align: center;

    }

    .boxGif{
        background-color: white;
        max-height: 70vh;
        width: 100%;
        overflow: scroll;
     

    }
    .gifs{
        display: flex;
        flex-wrap: wrap;
        gap:3px;
        background-color: black;
        justify-content: center;
        
    }


}