

/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {

    #reseaux{
        text-align: center;
        
    }

    [class^="cadre"]{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }  
  
    
}