

/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {
    .uniqueCommentaire {
        position: fixed;
        top:0;
        width:53%;
        z-index:10000;
        background-color:white}
}
