@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import './page/competition.css';
@import './page/competition/classement.css';
@import './page/competition/journee.css';
@import './page/competition/buteurs.css';
@import './page/rencontre.css';
@import './page/club/actu.css';
@import './page/club/fans.css';
@import './page/club/reseaux.css';
@import './page/club/bulletin.css';
@import './page/club/uniquecommentaire.css';
@import './page/club.css';
@import './page/auth.css';

* {
    box-sizing: border-box;
}

:root {
    --couleur-hover: #dee2e6a3;
    --transition-hover: all ease-in-out 0.3s;
    --font-color: #1e1a19;
    --height-menu:50px;
  }

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    background-color: white;
    color: var(--font-color);

}


.entete {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: var(--font-color) !important;
}

.timecomment {
    font-size: smaller;
}

.fontsize16 {
    font-size: 16px !important;
}


/* img {
    width: 100%;
    height: auto;

} */

a:link,
a:visited,
a:hover {
    text-decoration: none !important;
    ;
    color: var(--font-color) !important;
}


li {
    list-style-type: none;
}

#media {
    display: none;
}

.entete>a:hover {
    text-decoration: underline !important;
}

.entete i {
    padding: 9px;
    border-radius:50%;
    transition: var(--transition-hover);
}

.entete i:hover {
    background-color: var(--couleur-hover);
    cursor: pointer;

}

.cachesectionv3 {
    cursor: pointer;
}

/* Supprimer la flèche de dropdown dans Bootstrap */
.dropdown-toggle::after {
    display: none!important;
}

/* spinner de chargement sur span */
.loader {
    font-size:4.5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  


/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {
    .iconNav i{
        font-size: 1.2rem;
    }
    .selectLangue{
        background-color: #dee2e6a3 !important;
    }
    .explicatifIcon{
        display: none;
    }
    .parentIcon{
        position: relative;
    }
    .iconNav i:hover+.explicatifIcon{
        display: block;
        margin-top: 5px;
        position: absolute;
        z-index: 2;
        width: 1000px;
        left:50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .explicatifIcon span{
        background-color: rgba(128, 128, 128);
        color: white;
        padding: 2.5px;        
        border-radius: 5px;
        font-family: 'Inter', sans-serif !important;
        font-size: 12px!important;
        transition: var(--transition-hover);
    }
}


