/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {

    #tableJournee {
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }
    #tableJournee .dateJournee{
        background-color: rgba(128, 128, 128, 0.63);
    }
    #tableJournee .ligneJournee{
        width: 100%;
        height: 2rem;
        overflow: hidden!important;
        display: flex;
      }
      .ligneJournee span{
        height: 100%;
        line-height: 1.5;
      }
      #tableJournee .centreLigne{
        width:5%;
        text-align: center;
      }
      #tableJournee .chiffreScore{
        
        text-align: center;
      }
    #tableJournee .teamHome {
        text-align: end;
        width:41%
    }
    #tableJournee .teamAway {
        text-align: start;
        width:41%
    }
    #tableJournee .trait {
        width: 2%;
        text-align:center
    }
    .scoreHome{
        text-align: end;       
        width:3%;
    }
    .scoreAway{
        width:3%
    }
    #tableJournee [class^="score"] {
        background-color: #1e1a19;
        color: white;
        font-weight: 700;
    }

    #tableJournee .status{
       
        font-size: 10px;
        text-align: center;
    }
      #tableJournee .bottomRencontre{
        border-bottom: 1px solid rgb(190, 175, 175) !important;
    }

    .logoClub{
        width: 25px;
        height: 25px;
    }

}
