#dataprofil .formDataInput{
 border: none!important;
 outline: none;
 caret-color: transparent;
}
#dataprofil .formDataTextarea{
 border: none!important;
 outline: none;
 caret-color: transparent;
 resize:none;
}

#dataprofil .formButton{
display: none;
}




/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {

    #vue div#dataprofil{
        position: fixed;
        top:0;
        width: 20%;
        height: 100%;
    }
}
