#dataprofil .formDataInput{
 border: none!important;
 outline: none;
 caret-color: transparent;
}
#dataprofil .formDataTextarea{
 border: none!important;
 outline: none;
 caret-color: transparent;
 resize:none;
}

#dataprofil .formButton{
display: none;
}




/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {

    #vue div#dataprofil{
        position: fixed;
        top:0;
        width: 20%;
        height: 100%;
    }

    #settings {
        text-align: center;
    }

    #menuSettings {
        height: var(--height-menu);
        line-height: var(--height-menu);
        position: relative;
        
    }
    .closeSettings{
        position: absolute;
        right: 30px;
        top:5px;
    }
    .choiceSection{
        display: flex;
        justify-content:center;
        height: var(--height-menu);
        line-height: var(--height-menu);
        gap:20px
    }
    
}
