

/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {

    #competition{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        height: 100%;

    }

    #pageCompetition{
        display: grid;
        grid-template-columns: 62.5% 37.5%;
        grid-template-rows: 100%;
        height: 100%;
    }

   #logoCompetition img{
        width: 120px;
        height: 120px;
    } 
    .recherche{
        position: relative;
    }
    .recherche ul{
        position:absolute;
        z-index: 10;
        background-color: white;
        padding: 0;
        width:100%
    }
    hr.classementPromotion {
        border: none;
        border-top: 3px dashed gray!important;
        
      }

}