/******************************************************/
/* Tablette - Desktop */
@media screen and (min-width:768px) {
    #selectionListe{
       text-align:right; 
    }   

    #timezoneListe{        
        text-align:right;
        
        right:0;
    }


}